.flashing-squares {
  .loader {
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .loader div {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    margin: 3px;
    animation: flash 1.2s infinite ease-in-out;
  }

  .loader div:nth-child(1) {
    animation-delay: -0.6s;
  }

  .loader div:nth-child(2) {
    animation-delay: -0.3s;
  }

  @keyframes flash {

    0%,
    100% {
      opacity: 0.2;
    }

    50% {
      opacity: 1;
    }
  }
}