.infinite {
    display: inline-flex;

    .ip__worm1,
    .ip__worm2 {
        animation: infinite_worm1 2s linear infinite;
    }

    .ip__worm2 {
        animation-name: infinite_worm2;
    }

    /* Animation */
    @keyframes infinite_worm1 {
        from {
            stroke-dashoffset: 0;
        }

        50% {
            animation-timing-function: steps(1);
            stroke-dashoffset: -358;
        }

        50.01% {
            animation-timing-function: linear;
            stroke-dashoffset: 358;
        }

        to {
            stroke-dashoffset: 0;
        }
    }

    @keyframes infinite_worm2 {
        from {
            stroke-dashoffset: 358;
        }

        50% {
            stroke-dashoffset: 0;
        }

        to {
            stroke-dashoffset: -358;
        }
    }
}