.skewed-squares {
  .loader {
    display: flex;
  }

  .loader div {
    width: 20px;
    flex-shrink: 0;
    height: 20px;
    background-color: #3498db;
    transform: skew(20deg);
    animation: skew 1s infinite ease-in-out;
  }

  .loader div:nth-child(1) {
    animation-delay: -0.4s;
  }

  .loader div:nth-child(2) {
    animation-delay: -0.2s;
  }

  @keyframes skew {

    0%,
    100% {
      transform: skew(20deg);
    }

    50% {
      transform: skew(-20deg);
    }
  }
}