.grow-shrink-circle {
  .loader {
    width: 40px;
    height: 40px;
    background-color: #3498db;
    border-radius: 50%;
    animation: growShrink 1.2s infinite ease-in-out;
  }

  @keyframes growShrink {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(0.5);
    }
  }
}