.pulsating-crosses {
  .loader {
    display: flex;
    justify-content: space-around;
    width: 100px;
  }

  .loader div {
    width: 20px;
    height: 20px;
    background-color: #3498db;
    clip-path: polygon(50% 0%, 100% 50%, 50% 100%, 0% 50%);
    animation: pulse 1.2s infinite ease-in-out;
  }

  .loader div:nth-child(1) {
    animation-delay: -0.4s;
  }

  .loader div:nth-child(2) {
    animation-delay: -0.2s;
  }

  @keyframes pulse {

    0%,
    100% {
      transform: scale(1);
    }

    50% {
      transform: scale(1.5);
    }
  }
}