.zig-zag-line {
  .loader {
    width: 80px;
    height: 5px;
    background: #3498db;
    position: relative;
    animation: zigzag 1s linear infinite;
  }

  @keyframes zigzag {

    0% {
      left: 0%;
    }

    25% {
      left: 20%;
    }

    50% {
      left: 40%;
    }

    75% {
      left: 60%;
    }

    100% {
      left: 100%;
    }
  }
}