.rotating-dots {
  .loader {
    position: relative;
    width: 80px;
    animation: rotate 1.2s linear infinite;
    height: 80px;
  }

  .loader div {
    position: absolute;
    width: 16px;
    height: 16px;
    background: #3498db;
    border-radius: 50%;
  }

  .loader div:nth-child(1) {
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loader div:nth-child(2) {
    top: 50%;
    left: 100%;
    transform: translate(-50%, -50%);
  }

  .loader div:nth-child(3) {
    top: 100%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .loader div:nth-child(4) {
    top: 50%;
    left: 0;
    transform: translate(-50%, -50%);
  }

  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }

    100% {
      transform: rotate(360deg);
    }
  }
}